{% extends 'web/base.html'%}

{% block title %}
Customer Supports
{% endblock %}

{% block style %}
{% endblock %}

{% block body %}
<section class="bg-gray-50 dark:bg-gray-900">
    <div
      class="flex flex-col justify-center px-6 mx-auto lg:py-0 "
    >
      <div class="container px-5 mx-auto">
        <div
          class="lg:w-10/12 md:w-10/12 sm:w-full bg-white rounded-lg p-8 flex flex-col mx-auto w-full mt-10 md:mt-0 relative z-10 shadow-md"
        >
        <form action="{% url 'customer_support_view' %}" method="post">
            {% csrf_token %}
            <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">
              Add your request
            </h2>
            <div class="relative mb-4">
              <label for="message" class="leading-7 text-sm text-gray-600"
                >Message</label
              >
              <textarea
                id="message"
                name="message"
                class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
              ></textarea>
            </div>
            <button
            type="submit"
              class="text-white bg-yellow-500 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-600 rounded text-lg"
            >
              Submit
            </button>
        </form>
        <div class="overflow-x-auto my-5">
          <table class="min-w-full bg-white border border-gray-200 rounded-lg">
            <thead>
              <tr>
                <th class="px-4 py-2 border-b text-left text-sm font-medium text-gray-600 bg-gray-50">Request-Date</th>
                <th class="px-4 py-2 border-b text-left text-sm font-medium text-gray-600 bg-gray-50">Request ID</th>
                <th class="px-4 py-2 border-b text-left text-sm font-medium text-gray-600 bg-gray-50">Message</th>
                <th class="px-4 py-2 border-b text-left text-sm font-medium text-gray-600 bg-gray-50">Remove</th>
              </tr>
            </thead>
            <tbody>
              {% if customer_requests %}
              {% for customer_request in customer_requests.requests %}
              <tr class="bg-white hover:bg-gray-50">
                <td class="px-4 py-2 border-b text-sm text-gray-700">{{customer_request.created_at}}</td>
                <td class="px-4 py-2 border-b text-sm text-gray-700">{{customer_request.request_id}}</td>
                <td class="px-4 py-2 border-b text-sm text-gray-700">{{customer_request.messages}}</td>
                <td class="px-4 py-2 border-b text-sm text-gray-700"><a href="{% url 'delete_cutomer_request' request_id=customer_request.request_id %}"><i class="fa-solid fa-x"></i></a></td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="5" class="text-center py-3">No customer requests found.</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>

  </section>

  
{% endblock %}
